@import "bootstrap";
@import "variables"; //variables.scss
@import "overrides"; //overrides.scss


.card-job {
    margin-bottom: 30px;
    background-color: #fbfbfb;
    box-shadow: 5px 5px 10px whitesmoke;
    border-radius: 5px;
    padding: 10px 15px;
    height: 180px;
    transition: all .3s ease;
    h3,p,span{
      color: $font-color;
    }
    h3{
      font-size: 20px;
    }
    p{
      height: 75px;
      overflow: hidden;
    }

}

.card-job:hover {
    box-shadow: 7px 7px 10px #eaeae8;
    transform: scale3d(1.01, 1.01, 1);
}
